.Draggable {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 250ms ease;
}

.Draggable > button {
  display: flex;
  min-height: 54px;
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale, 1));
  transition: box-shadow 300ms ease;
}

.Draggable:not(.handle) > button {
  touch-action: none;
  cursor: grab;
}






