/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Button/Button.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Button_Button__R3Zme {
  padding: 14px 20px;
  border: none;
  background-color: #242836;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #f6f8ff;
  cursor: pointer;
  outline: none;
  transform: scale(1);
  transition: transform 0.2s, background 0.4s;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/ConfirmModal/ConfirmModal.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.ConfirmModal_ConfirmModal__iPv6x {
  --width: 250px;
  --height: 120px;

  display: flex;
  flex-direction: column;
  width: var(--width);
  height: var(--height);
  position: fixed;
  top: calc(100vh / 2 - var(--height) / 2);
  left: calc(100vw / 2 - var(--width) / 2);
  border-radius: 10px;
  box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01),
    0px 15px 15px 0 rgba(34, 33, 81, 0.25);
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  z-index: 1;
}

.ConfirmModal_ConfirmModal__iPv6x h1 {
  flex: 1;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.ConfirmModal_ConfirmModal__iPv6x button {
  width: 50px;
  height: 23px;
  background: #242836;
  color: #f6f8ff;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;


}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Item/components/Action/Action.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.Action_Action__oGkT6 {
  display: flex;
  width: 12px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: var(--cursor, pointer);
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .Action_Action__oGkT6:hover {
    background-color: var(--action-background, rgba(0, 0, 0, 0.05));
  }

  .Action_Action__oGkT6:hover svg {
    fill: #6f7b88;
  }
}

.Action_Action__oGkT6 svg {
  flex: 0 0 auto;
  margin: auto;
  height: 100%;
  overflow: visible;
  fill: #919eab;
}

.Action_Action__oGkT6:active {
  background-color: var(--background, rgba(0, 0, 0, 0.05));
}

.Action_Action__oGkT6:active svg {
  fill: var(--fill, #788491);
}

.Action_Action__oGkT6:focus-visible {
  outline: none;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Item/Item.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
@keyframes Item_scaleUp___kakf {
  0% {
    transform: scale(1);
    box-shadow: var(--box-shadow);
  }
  100% {
    transform: scale(var(--scale));
    box-shadow: var(--box-shadow-picked-up);
  }
}

@keyframes Item_fadeIn__zdzbP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Item_Wrapper__k3cQH {
  display: flex;
  box-sizing: border-box;
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
    scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
  transform-origin: 0 0;
  touch-action: manipulation;
}

.Item_Wrapper__k3cQH.Item_fadeIn__zdzbP {
  animation: Item_fadeIn__zdzbP 500ms ease;
}

.Item_Wrapper__k3cQH.Item_dragOverlay__qxD3J {
  --scale: 1.05;
  --box-shadow: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),
    0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15);
  --box-shadow-picked-up: 0 0 0 calc(1px / var(--scale-x, 1))
      rgba(63, 63, 68, 0.05),
    -1px 0 15px 0 rgba(34, 33, 81, 0.01),
    0px 15px 15px 0 rgba(34, 33, 81, 0.25);
  z-index: 999;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Container/Container.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Container_Container___6DAP {
  display: flex;
  flex-direction: column;
  grid-auto-rows: max-content;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  min-width: 350px;
  margin: 10px;
  border-radius: 5px;
  min-height: 200px;
  transition: background-color 350ms ease;
  background-color: rgba(246, 246, 246, 1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1em;
}

.Container_Container___6DAP ul {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  list-style: none;
  padding: 20px;
  margin: 0;
}

.Container_Container___6DAP.Container_scrollable__nlLTy ul {
  overflow-y: auto;
}

.Container_Container___6DAP.Container_placeholder__HI4lq {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.08);
}

.Container_Container___6DAP.Container_placeholder__HI4lq:hover {
  border-color: rgba(0, 0, 0, 0.15);
}

.Container_Container___6DAP.Container_hover__s9E9e {
  background-color: rgb(235, 235, 235, 1);
}

.Container_Container___6DAP.Container_unstyled__kL1gg {
  overflow: visible;
  background-color: transparent !important;
  border: none !important;
}

.Container_Container___6DAP.Container_horizontal__tJWEb {
  width: 100%;
}

.Container_Container___6DAP.Container_horizontal__tJWEb ul {
  grid-auto-flow: column;
}

.Container_Container___6DAP.Container_shadow__NBDYI {
  box-shadow: 0 1px 10px 0 rgba(34, 33, 81, 0.1);
}

.Container_Container___6DAP:focus-visible {
  border-color: transparent;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0px 0px 2px #4c9ffe;
}

.Container_Header__ZAAza {
  display: flex;
  padding: 5px 20px;
  padding-right: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.Container_Header__ZAAza:hover .Container_Actions__mwouX > * {
  opacity: 1 !important;
}

.Container_Actions__mwouX {
  display: flex;
}

.Container_Actions__mwouX > *:first-child:not(:last-child) {
  opacity: 0;
}

.Container_Actions__mwouX > *:first-child:not(:last-child):focus-visible {
  opacity: 1;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Draggable/Draggable.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Draggable_Draggable__DsSDb {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: transform 250ms ease;
}

.Draggable_Draggable__DsSDb > button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 54px;
  flex-shrink: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0;
  padding: 8px 18px;
  background-color: #181a22;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale, 1));
  transition: box-shadow 300ms ease;
}

.Draggable_Draggable__DsSDb:not(.Draggable_handle__XfR_H) > button {
  touch-action: none;
  cursor: grab;
}

.Draggable_Draggable__DsSDb:not(.Draggable_handle__XfR_H) > button:focus-visible:not(.Draggable_active__nHIVv) {
  box-shadow: 0 0 0 3px #4c9ffe;
}

.Draggable_Draggable__DsSDb.Draggable_handle__XfR_H > button {
  --action-background: rgba(255, 255, 255, 0.1);
}

.Draggable_Draggable__DsSDb.Draggable_handle__XfR_H > button > svg {
  margin-right: 5px;
}

.Draggable_Draggable__DsSDb.Draggable_handle__XfR_H > button > button {
  margin-right: -10px;
}

.Draggable_Draggable__DsSDb img {
  width: 140px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.Draggable_Draggable__DsSDb label {
  display: block;
  flex-shrink: 1;
  padding: 10px;
  transition: opacity 250ms ease;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: #8d8d8d;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: url('/cursor.svg'), auto;
  animation: Draggable_pulse__JeW4C 1.5s ease-in-out infinite alternate;
}

.Draggable_Draggable__DsSDb.Draggable_dragging__YcMWM {
  z-index: 1;
}

.Draggable_Draggable__DsSDb.Draggable_dragging__YcMWM > button {
  --scale: 1.06;
  --box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
}

.Draggable_Draggable__DsSDb.Draggable_dragging__YcMWM > button:focus-visible {
  --box-shadow: 0 0px 10px 2px #4c9ffe;
}

.Draggable_Draggable__DsSDb.Draggable_dragging__YcMWM label {
  animation: none;
  opacity: 0;
}

.Draggable_Draggable__DsSDb.Draggable_dragging__YcMWM > button,
.Draggable_Draggable__DsSDb.Draggable_dragging__YcMWM {
  animation: Draggable_pop__xnZKo 250ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
}

@keyframes Draggable_pulse__JeW4C {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Draggable_pop__xnZKo {
  0% {
    transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(1);
  }
  100% {
    transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scale(var(--scale));
    box-shadow: var(--box-shadow);
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Droppable/Droppable.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Droppable_Droppable__Y5yUt {
  position: relative;
  padding-top: 80px;
  text-align: center;
  border-radius: 10px;
  width: 340px;
  height: 340px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: inset rgba(201, 211, 219, 0.5) 0 0 0 2px,
    rgba(255, 255, 255, 0) 0 0 0 1px, rgba(201, 211, 219, 0.25) 20px 14px 24px;
  transition: box-shadow 250ms ease;
}

.Droppable_Droppable__Y5yUt > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.8;
  transition: opacity 300ms ease, transform 200ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.Droppable_Droppable__Y5yUt.Droppable_dragging__2HWPF > svg {
  opacity: 0.8;
}

.Droppable_Droppable__Y5yUt.Droppable_over__bgrg7 {
  box-shadow: inset #1eb99d 0 0 0 3px, rgba(201, 211, 219, 0.5) 20px 14px 24px;
}

.Droppable_Droppable__Y5yUt.Droppable_over__bgrg7 > svg {
  opacity: 1;
}

.Droppable_Droppable__Y5yUt.Droppable_over__bgrg7.Droppable_dropped__iN9d0 {
  box-shadow: inset rgba(201, 211, 219, 0.7) 0 0 0 3px,
    rgba(201, 211, 219, 0.5) 20px 14px 24px;
}

.Droppable_Droppable__Y5yUt.Droppable_dropped__iN9d0 > svg {
  opacity: 0.2;
  transform: translate3d(-50%, 100%, 0) scale(0.8);
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/FloatingControls/FloatingControls.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.FloatingControls_FloatingControls__wfQHq {
  position: fixed;
  top: 25px;
  right: 25px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Grid/Grid.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Grid_Grid__cfjxI {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--grid-size) - 1px),
      #ddd calc(var(--grid-size) - 1px),
      #ddd var(--grid-size)
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(var(--grid-size) - 1px),
      #ddd calc(var(--grid-size) - 1px),
      #ddd var(--grid-size)
    );
  background-size: var(--grid-size) var(--grid-size);
  z-index: -1;
  pointer-events: none;
}

.Grid_RangeSlider__kdqjL {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/GridContainer/GridContainer.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.GridContainer_GridContainer__unPM4 {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  grid-gap: 10px;
  padding: 20px;

  @media (max-width: 850px) {
    grid-template-columns: repeat(calc(var(--col-count) - 1), 1fr);
  }

  @media (max-width: 650px) {
    grid-template-columns: repeat(calc(var(--col-count) - 2), 1fr);
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/List/List.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.List_List__8KuCv {
  display: grid;
  grid-auto-rows: max-content;
  box-sizing: border-box;
  min-width: 350px;
  grid-gap: 10px;
  padding: 20px;
  padding-bottom: 0;
  margin: 10px;
  border-radius: 5px;
  min-height: 200px;
  transition: background-color 350ms ease;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
}

.List_List__8KuCv::after {
  content: '';
  height: 10px;
  grid-column-start: span var(--columns, 1);
}

.List_List__8KuCv.List_horizontal__4hwZB {
  width: 100%;
  grid-auto-flow: column;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/OverflowWrapper/OverflowWrapper.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.OverflowWrapper_OverflowWrapper__xAmSS {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Wrapper/Wrapper.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Wrapper_Wrapper__H4h4R {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  justify-content: flex-start;


}

